@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f0f9f1;
  color: #564035;
  line-height: 1.5;
  min-height: 100vh;
}
